@font-face{
   font-family: Roboto;
   src:url(../Fonts/Roboto-Regular.ttf) ;
   font-weight: 400;
}
@font-face{
   font-family: Roboto;
   src:url(../Fonts/Roboto-Medium.ttf) ;
   font-weight: 500;
}
@font-face{
   font-family: Roboto;
   src:url(../Fonts/Roboto-Bold.ttf) ;
   font-weight: 700;
}
*{
   box-sizing: border-box;
   font-family: Roboto;
}
a{
   text-decoration: none;
   font-family: Roboto;
}
.col-9{
   width: 75%;
}
.col-6{
   width: 50%;
}
.col-5{
   width: 41.6666666%;
}
.col-4{
   width: 33.3333333%;
}
.col-3{
   width: 25%;
}
.col-1{
   width: 8.33333333%;
}
.fl{
   float: left;
}
.fr{
   float: right;
}
.clear::after{
   content: '';
   clear: both;
   display: table;
}
.align{
   text-align: center;
}
.wrapper{
   display: inline-block;
   width: 100%;
}
.conteiner{
   width: 1140px;
   margin: 0 auto;
}
.border-top{
   border-top: 1px solid #EFEFEF;
}
.border-pink{
   border: 2px solid #F13C6E;
}
.bg-gray{
   background-color: #E5E5E5;
}
.bg-pink{
   background-color: #F13C6E;
}
.bg-white{
   background-color: #FFFFFF;
}
.color-w{
   color: #FFFFFF;
}
.color-b{
   color: #000000;
}
.underline::after{
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   transform: scaleX(0);
   background-color: #F13C6E;
   transition: 0.3s;
}
.underline:hover::after{
   transform: scaleX(1);
}
.shadow:hover{
   box-shadow: 2px 2px 2px 2px #F13C6E;
}
.button-pink:hover{
   background-color: #F13C6E;
   color: #FFFFFF;
}
.button-white:hover{
   background-color: #FFFFFF;
   color: #000000;
}
