a{
   text-decoration: none;
}
*{
   box-sizing: border-box;
}
img{
   display: block;
   width: 100%;
   height: auto;
}
.col-9{
   width: 75%;
}
.grid-item { 
   width: 200px; 
}
.grid-item { 
   margin: 10px; 
}
.grid {
   margin: 0 auto;
 }
.conteiner{
   max-width: 1440px;
   margin: 0 auto;
}
.button{
   width: 200px;
   text-align: center;
   padding: 8px 0px;
   border: 2px solid blue;
   border-radius: 10px;
}
.buttons__holder{
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   padding: 50px 0;

}
.button__description{
   color: midnightblue;
   font-size: 24px;
}
.button:hover{
   box-shadow: 3px 3px 3px gray;
   border: 2px solid peru;
   background-color: bisque;
}
.img-hover-zoom {
   overflow: hidden;
}
.img-hover-zoom img {
   transition: transform .5s ease;
}
.img-hover-zoom:hover img {
   transform: scale(1.3);
}