body{
   box-sizing: border-box;
}
img{
   display: block;
   width: 100%;
   height: auto;
}
.container{
   width: 1140px;
   height: 500px;
   margin: 0 auto;
   /* display: inline-block; */
}
.wrapper{
   width: 100%;
   padding: 15px;
   display: flow-root;
}
/* .clear{
   clear: both;
} */
.col-12{
   width: 100%;
}
.col-9{
   width: 75%;
}
.col-6{
   width: 50%;
}
.col-3{
   width: 25%;
   display: flow-root;
}
.col-1{
   width: 8.333333%;
}
.fl{
   float: left;
}
.fr{
   float: right;
}
.border-blue{
   border: 2px solid blue;
   display: flow-root;
}
.border-red{
   border: 2px solid red;
   display: flow-root;
}
.border-green{
   border: 2px solid green;
   display: flow-root;
}
.border-black{
   border: 2px solid black;
   display: flow-root;
}
.border-yel{
   border: 2px solid yellow;
   /* display: flow-root; */
}