*{
   box-sizing: border-box;
}
.header__link{
   cursor: url(../image/geer.png), auto;
}
body{
   font-family: Roboto;
   width: 1920px;
   margin: 0 auto;
}
.wrapper__header-slogan{
   background: #EEEFF1;
}
.conteiner__header{
   width: 1400px;
   height: auto;
   margin: 0 auto;
   padding-bottom: 100px;
   position: relative;
}
.conteiner__header-slogan{
   width: 1400px;
   margin: 0 auto;
   padding-bottom: 141px;
}
.link__holder{
   background-color: #EEEFF1;
}
.animation-holder{
   position: relative;
   width: 59%;
   height: 60px;
   padding: 10px 0;
}
.kubik{
   position: absolute;
   width: 20px;
   height: 20px;
   background-color: red;
   border-radius: 3px;
   left: 0px;
}
@keyframes kubik__rolling{
   0% {  left: 0px;
         background-color: rgb(255, 0, 0);}
   10% { left: 160px;
         background-color: rgb(255, 127, 0);}
   20% { left: 320px;
         background-color: rgb(255, 185, 0);}
   30% { left: 480px;
         background-color: rgb(247, 235, 0);}
   40% { left: 640px;
         background-color: rgb(155, 230, 0);}
   50% { left: 798px;
         background-color: rgb(0, 185, 50);}
   60% { left: 640px;
         background-color: rgb(10, 110, 160);}
   70% { left: 480px;
         background-color: rgb(26, 26, 174);}
   80% { left: 320px;
         background-color: rgb(90, 15, 170);}
   90% { left: 160px;
         background-color: rgb(200, 0, 115);}
   100%{ left: 0px;
         background-color: rgb(255, 0, 0);}
}
/* Если захочется при наведении
.animation-holder:hover .kubik{
   animation: kubik__rolling linear 10s infinite;
} */
.kubik{
   animation: kubik__rolling linear 10s infinite;
}
.header__list{
   width: 58%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px 10px 16px 10px;
   background-color: #EEEFF1;
}
.inner__menu{
   position: relative;
}
.inner__menu__sub{
   position: relative;
}
.header__list__inner{
   display: none;
   position: absolute;
}
.header__list__inner__sub{
   display: none;
   position: absolute;
   top: 0px;
   left: 225px;
}
.inner__menu:hover .header__list__inner{
   display: block;
}
.inner__menu__sub:hover .header__list__inner__sub{
   display: block;
}
.header__link{
   padding: 14px 44px;
   text-align: center;
   text-decoration: none;
   display: block;
   font-size: 14px;
   font-weight: 500;
   line-height: 26px;
   color: #000000;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   background-color: #34547A;
   border: 1px solid black;
   border-radius: 2px;
   color: #FFFFFF;
   transition: all 1s linear;
}
.header__link:hover{
   background-color: #345429;
}
.link-size-inner{
   min-width: 225px;
}
.rotor:hover{
   transform: rotate(360deg);
}
.scale:hover{
   transform: scaleX(1.7);
}
.skew:hover{
   transform: skewY(10deg);
}
#modal__form{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
}
#modal__form.active{
   display: block;
}
.form__wrapper{
   max-width: 200px;
   margin: auto;
   background-color: white;
   margin-top: 30%;
   border: 2px solid red;
   border-radius: 5px;
}
.form__title{
   position: relative;
   text-align: center;
   font-size: 25px;
}
.close{
   font-size: 10px;
}
.close:hover{
   cursor: pointer;
}
.form__input{
   font-size: 15px;
   margin: 10px 0px;
}
.form__title span{
   position: absolute;
   top: -11px;
   right: -7px;
}
.form__button{
   margin: 10px 50px;
}
.banner__left{
   width: 10%;
   height: auto;
   position: absolute;
   left: -214px;
   top: -20%;
   transform: rotate(90deg);
}
.banner__right{
   position: fixed;
   right: -245px;
   top: 33%;
   transform: rotate(270deg);
}

/* До сюда нововведения */
.slogan__title{
   font-weight: 500;
   font-size: 48px;
   padding-top: 160px;
}
.slogan__text{
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   padding-top: 50px;
}
.slogan__button{
   width: 225px;
   height: 65px;
   background: #34547A;
   margin-top: 83px;
   text-align: center;
}
.slogan__link{
   display: block;
   font-weight: 400;
   font-size: 16px;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 26px;
   letter-spacing: 0.1em;
   color: #FFFFFF;
   padding-top: 16px;
}
.container__about{
   padding-bottom: 92px;
}
.about__title{
   font-weight: 500;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
   padding-top: 112px;
}
.about__text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #727272;
   padding-top: 39px;
}
.wrapper__item{
   background: #34547A;
   padding-bottom: 96px;
}
.container__item{
   width: 1400px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}
.item__box{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 100px 35px 0px 10px;
}
.img__box{
   
}
.text__box{
   width: 71px;
   padding: 2px 0px 0 20px;
}
.item__numbers{
   font-weight: 500;
   font-size: 21px;
   line-height: 25px;
   color: #FFFFFF;
   padding-bottom: 1px;
}
.item__project{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
}
.wrapper__video{
   background: #EEEFF1;
   padding-bottom: 100px;
}
.video__description{
   text-align: center;
}
.video__title{
   font-weight: 500;
   font-size: 32px;
   line-height: 38px;
   padding-top: 100px;
}
.video__subtitle{
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   padding-top: 38px;
}
.video__box{
   width: 1110px;
   height: 600px;
   margin: 0 auto;
   padding-top: 76px;
}
.wrapper__footer{
   background: #34547A;
   padding-bottom: 45px;
}
.footer{
   width: 1122px;
   margin: 0 auto;
}
.footer__name{
   font-weight: 500;
   font-size: 21px;
   line-height: 25px;
   color: #FFFFFF;
   padding: 49px 0px 0px 7px;
}
.footer__epilog{
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
   padding: 12px 0px 0px 7px;
}
