@font-face{
   font-family: Roboto;
   src: url(../fonts/Roboto-Bold.ttf);
   font-weight: 700;
}
@font-face{
   font-family: Roboto;
   src: url(../fonts/Roboto-Medium.ttf);
   font-weight: 500;
}
@font-face{
   font-family: Roboto;
   src: url(../fonts/Roboto-Regular.ttf);
   font-weight: 400;
}
*{
   box-sizing: border-box;
}
html{
   font-size: 10px;
}
body{
   font-family: Roboto;
}
img{
   display: block;
   width: 100%;
   height: auto;
}
a{
   text-decoration: none;
   color: black;
}
a:hover{
   color: purple;
   transition: 0.5s;
}
.button__hover:hover{
   box-shadow: 3px 3px #F1C0C7;
}
.col-11{
   width: 91.666%;
}
.col-10{
   width: 83.333%;
}
.col-9{
   width: 75%;
}
.col-8{
   width: 66.666%;
}
.col-7{
   width: 58.333%;
}
.col-6{
   width: 50%;
}
.col-5{
   width: 41.666%;
}
.col-4{
   width: 33.333%;
}
.col-3{
   width: 25%;
}
.col-2{
   width: 16.666%;
}
.col-1{
   width: 8.3333%;
}
.font-500{
   font-weight: 500;
}
.font-700{
   font-weight: 700;
}
.flex{
   display: flex;
   flex-wrap: nowrap;
}
.flex__wrap{
   display: flex;
   flex-wrap: wrap;
}
.flex__column{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
}
.align__center{
   align-items: center;
}
.align__self{
   align-self: center;
}
.between{
   justify-content: space-between;
}
.color__blue{
   color: #1B365D;
}
.color__white{
   color: #ffffff;
}
.wrapper__header{
   max-width: 1320px;
   margin: 0 auto;
   padding: 3px 0px 4px 0px ;
}
.header__logo{
   margin: 13px 0px 0px 7px;
}
.header__link{
   font-size: 1.6rem;
   line-height: 2.144rem;
   padding: 0px 12px 0px 21px;
}
.header__button{
   font-size: 1.1rem;
   line-height: 2.2rem;
   margin: 0rem 4.4rem;
   padding: 6px 25px;
   border: 1px solid #A7BBC9;
   border-radius: 3px;
   align-self: center;
}
.conteiner__demo{
   max-width: 1440px;
   margin: 0 auto;
   background: url(../image/Demo.png) no-repeat;
   position: relative;
}
.wrapper__demo{
   max-width: 1264px;
   margin: 0 auto;
}
.extrabox{
   position: absolute;
   background-color: #F1C0C7;
   bottom: -22px;
   padding: 23px 41px 10px 86px;
   column-gap: 20px;
}
.extra__title{
   max-height: 2rem;
   overflow: hidden;
   font-size: 1.5rem;
   line-height: 1.9rem;
}
.extra__description{
   max-height: 2rem;
   overflow: hidden;
   font-size: 1.4rem;
   line-height: 2rem;
}
.demo__holder{
   padding: 19.5rem 0rem 20.1rem 0rem;
}
.demo__title{
   max-height: 19rem;
   overflow: hidden;
   font-size: 5.6rem;
   line-height: 6.16rem;
}
.demo__description{
   padding: 17px 0px 54px 0px;
   font-size: 1.8rem;
   line-height: 2.4rem;
   color: #434140;
}
.demo__button{
   background-color: #ffffff;
   border-radius: 25px;
   padding: 15px 43px;
   font-size: 1.4rem;
   line-height: 2.0rem;
}
.demo__link{
   padding: 0px 29px 0px 0px;
   font-size: 1.4rem;
   line-height: 2.0rem;
}
.conteiner__preview{

}
.wrapper__preview{
   max-width: 1294px;
   margin: 0 auto;
   padding: 114px 15px 0px 15px;
   position: relative;
}
.preview__card__holder{
   column-gap: 16px;
   row-gap: 10px;
}
.preview__card{
   flex-basis: 24%;
   position: relative;
}
.card__preview__description__holder{
   position: absolute;
   z-index: 1;
   bottom: 3.2rem;
   left: 17%;
   text-align: center;
}
.card__preview__title{
   max-height: 3rem;
   overflow: hidden;
   font-size: 2.4rem;
   line-height: 3rem;
}
.card__preview__description{
   max-height: 4rem;
   overflow: hidden;
   font-size: 1.5rem;
   line-height: 2.1rem;
}
.card__preview__link{
   font-size: 1.4rem;
   line-height: 2rem;
   padding-top: 1.7rem;
}
.preview__title{
   font-size: 5rem;
   line-height: 5.5rem;
   padding: 27px 0px 401px 0px;

}
.preview__foto{
   position: absolute;
   bottom: -26.6rem;
   left: 0;
   padding: 0 15px;
}
.conteiner__keepup{
   background-color: #D0E8EA;
}
.wrapper__keepup{
   max-width: 1114px;
   margin: 0 auto;
   padding: 296px 15px 47px 15px;
   column-gap: 15.5rem;
}
.keepup__title{
   font-size: 2.4rem;
   line-height: 3rem;
}
.keepup__description{
   font-size: 1.7rem;
   line-height: 2.3rem;
   padding: 11px 0px 16px 0px;
   color: #434141;
}
.keepup__link{
   font-size: 1.4rem;
   line-height: 2rem;
}
.wrapper__video{
   max-width: 1294px;
   margin: 0 auto;
   padding: 0px 15px 113px 15px;
}
.video__text__box{
   padding: 15px 57px;
}
.video__messenger__box{
   column-gap: 17px;
}
.video__messenger{
   width: 11.5%;
}
.video__title{
   font-size: 5rem;
   line-height: 5.5rem;
   padding: 18px 27px 20px 0px;
}
.video__description{
   font-size: 1.7rem;
   line-height: 2.3rem;
   color: #615E5C;
   padding: 0px 40px 17px 0px;
}
.video__description__bootom{
   font-size: 1.1rem;
   line-height: 1.8rem;
   color: #AEABA8;
}
.conteiner__story{
   background: url(../image/story.png) no-repeat;
   max-width: 1440px;
   margin: 0 auto;
}
.wrapper__story{
   max-width: 1352px;
   margin: 0 auto;
   padding: 0 15px;
}
.wrapper__story__box{
   
}
.story__box__main{
   margin: 326px 0px 56px 0px;
   column-gap: 25px;
}
.story__box{
   column-gap: 25px;
}
.story__box__bottom{
   margin: 16px 0px 58px 0px;
   column-gap: 25px;
}
.story__border{
   border: 2px solid #615E5C;
   border-radius: 2px;
   background-color: #615E5C;
}
.story__title{
   max-height: 11rem;
   overflow: hidden;
   font-size: 5rem;
   line-height: 5.5rem;
}
.story__description__main{
   max-height: 9rem;
   overflow: hidden;
   font-size: 1.7rem;
   line-height: 2.3rem;
   padding: 20px 80px 23px 0px;
}
.story__description{
   max-height: 2.2rem;
   overflow: hidden;
   font-size: 1.7rem;
   line-height: 2.3rem;
}
.story__link{
   font-size: 1.4rem;
   line-height: 2rem;
}
.wrapper__alexa{
   max-width: 1294px;
   margin: 0 auto;
   padding: 90px 15px 362px 15px;
}
.alexa__messenger{
   padding: 0px 10px 0px 0px;
}
.alexa__title{
   font-size: 5rem;
   line-height: 5.5rem;
   margin: 12px 12px 20px 0px;
}
.alexa__description{
   font-size: 1.7rem;
   line-height: 2.3rem;
   color: #615E5C;
   padding-bottom: 61px;
}
.alexa__button{
   font-size: 1.4rem;
   line-height: 2rem;
   background-color: #ADD4E0;
   border-radius: 25px;
   padding: 15px 30px;
}
.alexa__undertext{
   font-size: 1.1rem;
   line-height: 2rem;
   color: #AEABA8;
   max-width: 43.5rem;
   align-self: center;
}
.conteiner__products{
   background-color: #D0E7EA;
}
.wrapper__products{
   max-width: 1294px;
   margin: 0 auto;
   padding: 368px 15px 29px 15px;
   position: relative;
}
.fitches__box{
   position: absolute;
   padding: 0px 15px;
   top: -312px;
   left: 0;
   column-gap: 20px;
}
.fithes__privat{
   background: url(../image/portalprivat.png) no-repeat;
   padding: 32px 108px 445px 32px;
}
.fitches__work{
   background: url(../image/portalwork.png) no-repeat;
   padding: 32px 150px 444px 32px;
}
h4{
   max-height: 4rem;
   overflow: hidden;
   font-size: 3rem;
   line-height: 3.4rem;
}
.fitches__description__privat{
   max-height: 10rem;
   overflow: hidden;
   padding: 9px 0px 38px 0px;
   color: #434140;
   font-size: 1.6rem;
   line-height: 2.2rem;
}
.fitches__description__work{
   max-height: 10rem;
   overflow: hidden;
   padding: 9px 0px 17px 0px;
   font-size: 1.6rem;
   line-height: 2.2rem;
}
.fitches__link{
   font-size: 1.4rem;
   line-height: 2rem;
}
.extrabox__products{
   padding: 23px 0px 0px 0px;
   column-gap: 15px;
}
.extrabox__image{
   padding: 4px 0px 0px 0px;
}
.extra__title__products{
   max-height: 2rem;
   overflow: hidden;
   font-size: 1.7rem;
   line-height: 2.3rem;
}
.extra__description__products{
   max-height: 2rem;
   overflow: hidden;
   font-size: 1.6rem;
   line-height: 2.1rem;
}
.products__title{
   font-size: 5rem;
   line-height: 5.5rem;
}
.products__card__holder{
   padding: 50px 0px 40px 0px;
   column-gap: 16px;
   row-gap: 10px;
}
.products__card{
   flex-basis: 24%;
   background-color: #F7F7F7;
   padding: 32px 18px 24px 18px;
}
.card__products__title{
   max-width: 60%;
   max-height: 2.7rem;
   overflow: hidden;
   font-size: 2rem;
   line-height: 2.6rem;
}
.card__products__price{
   max-width: 30%;
   max-height: 2.7rem;
   overflow: hidden;
}
.card__price{
   font-size: 2rem;
   line-height: 2.6rem;
}
.sup__price{
   vertical-align: 0.8rem;
   font-size: 1rem;
   line-height: 1.4rem;
}
.card__products__image{
   padding: 22px 3px 26px 3px;
}
.card__products__description{
   max-height: 4rem;
   overflow: hidden;
   font-size: 1.5rem;
   line-height: 2rem;
   max-width: 55%;
   text-align: center;
}
.card__products__button{
   background-color: #1877F2;
   font-size: 1.4rem;
   line-height: 2rem;
   padding: 13px 26px;
   margin: 30px 0px 26px 0px;
   border-radius: 25px;
}
.card__products__link{
   font-size: 1.4rem;
   line-height: 2rem;
}
.products__button{
   background-color: #FFFFFF;
   max-width: 195px;
   text-align: center;
   margin: 0 auto;
   font-size: 1.4rem;
   line-height: 2rem;
   border-radius: 25px;
   padding: 13px 0px;
}
.conteiner__footer{
   background-color: #272E38;
}
.wrapper__footer{
   max-width: 1294px;
   margin: 0 auto;
   padding: 63px 15px;
   column-gap: 0px;
}
.footer__register__box{
   padding: 2px 0px 0px 17px;
   column-gap: 62px;
}
ul>li>a{
   color: #DADBDD;
}
.footer__products__list{
   font-size: 1.3rem;
   line-height: 2.1rem;
   padding: 0px 0px 17px 0px;
}
.footer__use__list{
   font-size: 1.2rem;
   line-height: 2.1rem;
   padding: 0px 0px 16px 0px;
}
.footer__register{
   padding: 0px 30px 0px 11px;
}
.footer__register__description{
   color: #9CA5B0;
   font-size: 1.4rem;
   line-height: 2rem;
   padding-bottom: 25px;
}
.footer__register__button{
   background-color: #FFFFFF;
   border-radius: 25px;
   color: #9CA5B0;
   font-size: 1.4rem;
   line-height: 2rem;
   padding: 11px 27px;
   margin: 0px 0px 62px 0px;
}
.footer__register__language{
   border: 1px solid #3D434C;
   color: #9CA5B0;
   font-size: 1.1rem;
   line-height: 1.7rem;
   text-align: center;
   margin: 62px 20px 0px 0px;
}
.footer__state{
   text-align: center;
   color: #FFFFFF;
   font-size: 1.1rem;
   line-height: 1.7rem;
   padding: 10px 0px 10px 64px;
}
.footer__language{
   text-align: center;
   color: #9CA5B0;
   font-size: 1.1rem;
   line-height: 1.7rem;
   padding: 10px 0px 10px 7px;
}
.footer__logo{
   padding: 0px 83px 0px 0px;
}
.footer__bootom__text__box{
   row-gap: 21px;
   padding: 67px 155px 0px 8px;
}
.footer__bootom__text{
   color: #9CA5B0;
   font-size: 1.1rem;
   line-height: 1.7rem;
}





